  <h2>Don&rsquo;t miss</h2>

  <ol>
    <li>Cross the Clinton River on this impressive 72 m suspension
    bridge, built by Fijian engineers in 1978. The bridge is a great place to spot eels
    and trout in the river.</li>

    <li>Fiordland National Park is renowned for its high annual
    rainfall but don&rsquo;t despair! The rain provides a mystical moss-draped forest,
    energetic streams and rivers, and waterfalls that are even more
    spectacular!</li>

    <li>Look out for Whio (blue duck) riding rapids on the Clinton
    and Arthur Rivers. Often hard to spot, their blue-grey feathers provide perfect
    camouflage amongst rocks. Males whistle a call of &lsquo;fee-o&rsquo; while females
    make a low rattling sound.</li>

    <li>Follow in the footsteps of early explorer Quintin McKinnon
    who discovered the route, now famously known as the Milford Track, from Lake Te Anau
    to Milford Sound in 1888.</li>

    <li>Spectacular Sutherland Falls drops 580 m in three leaps from
    Lake Quill. Leave your pack at the shelter but don&rsquo;t forget to take your
    raincoat &ndash; the falls generate a lot of spray! Allow 1.5 hours for the return
    trip.</li>
  </ol>

