.text-column1 {
	width:70%;
	max-width:654px;
	min-width:250px;
	margin: 100px auto 0px auto;
	color:#333333;

	h1 {
		color: #ac9420;
		font-weight:normal;
		font-family:serif;
	}

	h2 {
		color: #6c3400;
		font-weight:normal;
		font-family:serif;	
	}
}

.btn {
	display:inline-block;
	padding: 8px;
	border-radius: 7px;
	background-color: #15a5de;
	color: #ffffff;
	text-transform:uppercase;
	font-family:serif;
	font-size:18px;

	&:hover {
		text-decoration:none;
		background-color: lighten(#15a5de, 10%);
		color:white;
	}

	&.phone,
	&.email,
	&.vistorcenter,
	&.bookonline {
		background-image: url("../img/content-buttons.png");
		background-size:16px 166px;
		background-repeat: no-repeat;
		padding-left:30px;
	}

	&.phone {
		background-position: 10px -140px;
	}

	&.email {
		background-position: 10px 13px;
		padding-left:33px;
	}

	&.vistorcenter {
		background-position: 10px -40px;
	}

	&.bookonline {
		background-position: 10px -90px;
		padding-left:33px;
	}
}

	

@media (max-height: 300px) {
	.text-column1 {
		margin: 50px auto 0px auto;

		.youtube iframe {
			width:100%;
		}
	}


}

.below-fold {
	background: #e5dfbd;
	padding-bottom: 50px;

	.text-column1 {
		margin-top:20px;
		padding-top:20px;
	}
}