::selection {
    background-color:Transparent;
    color:#000;
    }

html {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
}

#map {

}

.popover-content {
    font-weight:bold;

    div {
        font-weight:normal;
        font-size:small
    }
}

.navbar a {
    color:white;
    font-weight:bold;
}

body.map {
    background: url("../img/table.png");
    padding: 41px 100px 0px 100px;

}

@import url(sprites.less);

#weta {
    background: url(../img/weta_land.png);
    width: 255px;
    height: 393px;
    background-size: 100%;
    position:absolute;
    top:100px;
    left:0px;
    text-indent: -10000px;
    
    &:hover,
    &:active,
    &.active {
        background-image: url(../img/weta_twitch.png);
    }
}

#logo {
    position:absolute;
    top:10px;
    left:50%;
    text-indent: -10000px;
    margin-left: -150px;
    background-image: url("../img/logo-x300.png");
    width:300px;
    height:128px;
}

@media (max-width: 600px) {
    #logo {
        margin-left: -112px;
        background-image: url("../img/logo-x225.png");
        width:225px;
        height:96px;
    }
}

@media (max-width: 400px) {
    #logo {
        margin-left: -75px;
        background-image: url("../img/logo-x150.png");
        width:150px;
        height:64px;
    }
}


@youarehereradius: 25px;
@youarehereradiuscolour: rgba(0,0,255,0.3);
@youarehreeradiusbadreception: @youarehereradius * 2;

#youarehere {
    display:none;
    position:absolute;
    width:1px
    height:1px;
    margin-left: -1px;
    margin-top: -1px;
    border-radius:100%;
    -webkit-box-shadow: 0 0 5px (@youarehereradius - 15) lighten(@youarehereradiuscolour, 20%),
                        0 0 0 (@youarehereradius - 5) @youarehereradiuscolour,
                        0 0 0  @youarehereradius      @youarehereradiuscolour;

    &.badAccuracy {
        -webkit-box-shadow: 0 0 5px @youarehreeradiusbadreception lighten(@youarehereradiuscolour, 20%),
                            0 0 0 (@youarehreeradiusbadreception + 5)     @youarehereradiuscolour,
                            0 0 0  (@youarehreeradiusbadreception + 10)   @youarehereradiuscolour;
    }

    .dot {
        position:absolute;
        left:-8px;
        top: -8px;
        display:block;
        width:15px;
        height:15px;
        background: url(../img/youarehere.png) no-repeat center center;
        background-size:100%;
    }

    .offmap {
        display:none;
        position:absolute;
        left:0px;
        top:0px;
        width:120px;
        font-size:x-small;
        background: #666666;
        color:#fff;
        border: solid 1px #777777;    
        border-radius:3px;
        padding:3px 8px;
    }
}

#youarehere2 {
    position:absolute;
    width:1px;
    height:1px;
    margin-left:-1px;
    margin-top:-1px;
    background: red;
}

#no_gps {
    display:none;
    position:fixed;
    left:5px;
    top:45px;
    background: #666666;
    border: solid 1px #777777;
    color: #fff;
    border-radius:3px;
    padding:3px 8px;
}


#wrapper {
    position: relative;
    border: solid 1px red;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}

.navbar {
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;   
}

#show_slideout_navigation {
    position:absolute;
    left:30%;
    top: 150px;
    z-index:100000;
    width:100px;
    height:100px;
    border: solid 1px red;
    background:red;
    -webkit-transform: scale3d(5,5,1);
}

#show_slideout_navigation:checked + #wrapper,
#show_slideout_navigation:checked + #wrapper .navbar {
    left: 300px;
}

#show_slideout_navigation:checked + #wrapper #slideoutnavigation {
    
}

#slideoutnavigation {
    position: absolute;
    top: 0px;
    left: -300px;
    margin-right: -300px;
    width: 300px;
    height:1000px;
    z-index:10000;
    background:orange;
}