::selection {
    background-color:Transparent;
    color:#000;
    }

html {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
}

#map {
    
}

.popover {
    z-index:10000;
}

.popover-content {
    font-weight:bold;

    div {
        font-weight:normal;
        font-size:small
    }
}

label {
    cursor:pointer;
}

.navbar a {
    color:white;
    font-weight:bold;
}

   #logo {
        position:absolute;
        top:10px;
        left:50%;
        text-indent: -10000px;
        margin-left: -150px;
        background-image: url("../img/logo-x300.png");
        width:300px;
        height:128px;
    }

    @media (max-width: 600px) {
        #logo {
            margin-left: -112px;
            background-image: url("../img/logo-x225.png");
            width:225px;
            height:96px;
        }
    }

    @media (max-width: 400px) {
        #logo {
            margin-left: -75px;
            background-image: url("../img/logo-x150.png");
            width:150px;
            height:64px;
        }
    }



    #wrapper {
        padding-top:50px;
        position: relative;
        transition: .2s ease-in;
        -webkit-transition: .2s ease-in;
    }

    .navbar {
        transition: .2s ease-in;
        -webkit-transition: .2s ease-in;   
    }

    #show_slideout_navigation {
        display:none;
    }

    #show_slideout_navigation:checked + #wrapper,
    #show_slideout_navigation:checked + #wrapper .navbar {
        left: 300px;
    }

    #show_slideout_navigation:checked + #wrapper #slideoutnavigation {
        
    }

    #slideoutnavigation {
        position: absolute;
        top: 0px;
        left: -300px;
        margin-right: -300px;
        width: 300px;
        height:1000px;
        z-index:10000;
        background:#3d692a;
        text-transform:uppercase;
        font-weight:bold;
        font-size:12px;

        a,
        label {
            color:white;
            display:block;
        }

        a:hover {
            text-decoration:none;
        }

        ul.menu {
            background: #3eb4e4;
            color: white;
            padding: 0px;
            margin: 0px;
            list-style:none;

            li {
                border-top: solid 1px #2b80a3;
                border-bottom: solid 1px #7cc6e3;
                border-left: solid 1px #32728d;
                border-right: solid 1px #9ed9f1;
                background: url("../img/slideout-menu.png") no-repeat right 9px;

                a {
                    padding: 4px 0px 4px 30px;

                    &.booking {
                        background: url("../img/slideout-menu.png") no-repeat 5px -95px;
                    }

                    &.offers {
                        background: url("../img/slideout-menu.png") no-repeat 5px -145px;
                    }
                }

                &:hover {
                    background-color: lighten(#3eb4e4, 10%);
                }
            }

            li:first-child {
                padding:0px;
                border-right: solid 1px #1d546b;
                background: none;

                label {
                    color: #b3e1f5;
                    font-weight:bold;
                    padding: 0px 0px 0px 7px;
                    height:48px;
                    line-height:55px;
                    margin:0px;
                    font-size:inherit;
                }
            }
        }

        ul.walks {
            background: #60a342;
            color: white;
            padding: 0px;
            margin: 0px;
            list-style:none;
            font-family: serif;
            font-size:14px;

            li {
                border-top: solid 1px #40712d;
                border-bottom: solid 1px #94be82;
                border-right: solid 1px #90c5a0;
                background: url("../img/slideout-menu.png") no-repeat right bottom;

                a {
                    padding: 5px 0px 5px 7px;
                }

                &:hover {
                    background-color: lighten(#60a342, 10%);
                }
            }
        }

        ul.maps {
            color: white;
            padding: 0px;
            margin: 0px;
            list-style:none;

            li {
                background: url("../img/slideout-menu.png") no-repeat right -40px;

                a {
                    padding: 4px 0px 4px 30px;
                    background: url("../img/slideout-menu.png") no-repeat 5px -195px;
                }

                &:hover {
                    background-color: lighten(#3d692a, 10%);
                }
            }
        }
    }

@import url(sprites.less);

body.map {
    background: url("../img/table.png");

    .popover-title {
        display:none;
    }

    #weta {
        background: url(../img/weta_land.png);
        width: 255px;
        height: 393px;
        background-size: 100%;
        position:absolute;
        top:100px;
        left:0px;
        text-indent: -10000px;
        
        &:hover,
        &:active,
        &.active {
            background-image: url(../img/weta_twitch.png);
        }
    }

    @youarehereradius: 25px;
    @youarehereradiuscolour: rgba(0,0,255,0.3);
    @youarehreeradiusbadreception: @youarehereradius * 2;

    #youarehere {
        display:none;
        position:absolute;
        width:1px
        height:1px;
        margin-left: -1px;
        margin-top: -1px;
        border-radius:100%;

        &.goodAccuracy {
            -webkit-box-shadow: 0 0 5px @youarehereradius @youarehereradiuscolour;
        }

        &.badAccuracy {
            -webkit-box-shadow: 0 0 5px @youarehreeradiusbadreception @youarehereradiuscolour;
        }

        .dot {
            position:absolute;
            left:-8px;
            top: -8px;
            display:block;
            width:15px;
            height:15px;
            background: url(../img/youarehere.png) no-repeat center center;
            background-size:100%;
        }

        .offmap {
            display:none;
            position:absolute;
            left:0px;
            top:0px;
            width:120px;
            font-size:x-small;
            background: #666666;
            color:#fff;
            border: solid 1px #777777;    
            border-radius:3px;
            padding:3px 8px;
        }
    }

    #no_gps {
        display:none;
        position:fixed;
        left:10px;
        top:60px;
        background: #666666;
        border: solid 2px #aaaaaa;
        color: #fff;
        border-radius:5px;
        padding:3px 8px;
    }

    #user_actions {
        display:block;
        position:fixed;
        top:150px;
        left:50%;
        margin-left:-150px;
        width: 300px;
        min-width:200px;
        max-width:600px;
        background: #666666;
        border: solid 2px #aaaaaa;
        color: #fff;
        border-radius:5px;
        padding:3px 8px;

        &.hidden {
            display:none;
        }
    }

    #camera {
        
    }

    #no_camera_available {
        display:none;
        position:fixed;
        top:150px;
        left:50%;
        margin-left:-100px;
        width: 200px;
        background: #ffeeaa;
        padding:10px;
        color: #806600;
        border: solid 2px #806600;
        border-radius:10px;
        text-align:center;
        font-weight:bold;
    }

}

