body.index {
	#wrapper {
		background: url("../img/Waikaremoana-NEW-home.jpg") no-repeat center 40px;
		color: #fff;

		.navbar-fixed-bottom .container-fluid * {
			width:auto;
			text-align:center;
			float:none;
		}
	}
}

@media (min-width: 640px) {
	body.index #wrapper {
		background: url("../img/Waikaremoana-NEW-home@2x.jpg") no-repeat center 20px;
	}
}