body.index {

	#wrapper {
		color: #fff;

		#carousel {
			.slide1 {
				background: url("../img/Waikaremoana-NEW-home@2x.jpg") no-repeat center 0px;
				background-size:cover ;
			}

			.slide2 {
				background: url("../img/Kepler-NEW-home@2x.jpg") no-repeat center 0px;
				background-size:cover ;
			}

			.slide3 {
				background: url("../img/Abel-NEW-home@2x.jpg") no-repeat center 0px;
				background-size:cover ;
			}

			.slide4 {
				background: url("../img/Whanganui-Journey-home@2x.jpg") no-repeat center 0px;
				background-size:cover ;
			}

			.carousel-control {
				display:none;
			}
		}

		.navbar-fixed-bottom .navbar-inner {
			padding-top:0px;
			background: #427630;

			.container-fluid * {
				width:auto;
				text-align:center;
				float:none;
			}

			ul.options {
				margin: 0px auto;

				li {
					display:inline;

					a {
						display:inline-block;
						background: url("../img/homepage-buttons.png") no-repeat;
						background-size: 258px 44px;
						width: 100px;
						padding-top: 60px;
						padding-bottom:5px;
						text-transform:uppercase;
						text-align:center;
						color:white;
						font-weight:bold;

						&:hover {
							text-decoration:none;
						}

						&.maps {
							background-position: 30px 10px;
						}

						&.offers {
							background-position: -80px 10px;
						}

						&.booknow {
							background-position: -193px 10px;
						}
					}
				}
			}
		}

		#doc-sign {
			display:block;
			text-decoration:none;
			background: url("../img/homepage-sign.png");
			background-size:100%;
			position:relative;
			top: -227px;
			width:394px;
			height: 227px;
			margin: 0px auto -227px auto;
		}
	}
}

@media (max-width: 600px), (max-height: 400px) {
	body.index {
		#wrapper {
			#doc-sign {
				position:relative;
				top: -172px;
				width:299px;
				height: 172px;
				margin: 0px auto -172px auto;
			}
		}
	}
}

@media (max-height: 400px) {
	body.index #wrapper .navbar-fixed-bottom .navbar-inner {
		min-height: auto;

		ul.options li a {
			background:transparent;
			padding-top: 0px;
			padding-bottom:0px;
		}
	}
}
