body.map {

    #wrapper {
        background: url("../img/table.png");
    }

    #weta {
        background: url(../img/weta_land.png);
        width: 255px;
        height: 393px;
        background-size: 100%;
        position:absolute;
        top:100px;
        left:0px;
        text-indent: -10000px;
        
        &:hover,
        &:active,
        &.active {
            background-image: url(../img/weta_twitch.png);
        }
    }

    @youarehereradius: 25px;
    @youarehereradiuscolour: rgba(0,0,255,0.3);
    @youarehreeradiusbadreception: @youarehereradius * 2;

    #youarehere {
        display:none;
        position:absolute;
        width:1px
        height:1px;
        margin-left: -1px;
        margin-top: -1px;
        border-radius:100%;

        &.goodAccuracy {
            -webkit-box-shadow: 0 0 5px @youarehereradius @youarehereradiuscolour;
        }

        &.badAccuracy {
            -webkit-box-shadow: 0 0 5px @youarehreeradiusbadreception @youarehereradiuscolour;
        }

        .dot {
            position:absolute;
            left:-8px;
            top: -8px;
            display:block;
            width:15px;
            height:15px;
            background: url(../img/youarehere.png) no-repeat center center;
            background-size:100%;
        }

        .offmap {
            display:none;
            position:absolute;
            left:0px;
            top:0px;
            width:120px;
            font-size:x-small;
            background: #666666;
            color:#fff;
            border: solid 1px #777777;    
            border-radius:3px;
            padding:3px 8px;
        }
    }

    #no_gps {
        display:none;
        position:fixed;
        left:10px;
        top:60px;
        background: #666666;
        border: solid 2px #aaaaaa;
        color: #fff;
        border-radius:5px;
        padding:3px 8px;
    }

    #user_actions {
        display:block;
        position:fixed;
        top:150px;
        left:50%;
        margin-left:-150px;
        width: 300px;
        min-width:200px;
        max-width:600px;
        background: #666666;
        border: solid 2px #aaaaaa;
        color: #fff;
        border-radius:5px;
        padding:3px 8px;

        &.hidden {
            display:none;
        }
    }

    #camera {
        
    }

    #no_camera_available {
        display:none;
        position:fixed;
        top:150px;
        left:50%;
        margin-left:-100px;
        width: 200px;
        background: #ffeeaa;
        padding:10px;
        color: #806600;
        border: solid 2px #806600;
        border-radius:10px;
        text-align:center;
        font-weight:bold;
    }

    .location-icon {
        display: block;
        text-indent: -10000px;
        width: 40px;
        height: 40px;
        background-image: url(../img/missing-icon.png);
        background-size:100%;
    }

    @media (min-width: 600px) {

        .location-icon {
            width:40px;
            height:40px;
            background-size:100%;
        }

    }


    .location-animal {
        background-image: url(../img/icon-animal_species.png);
    }

    .location-attention {
        background-image: url(../img/icon-attention.png);
    }

    .location-carpark {
        background-image: url(../img/icon-carpark.png);
    }

    .location-hot_springs {
        background-image: url(../img/icon-hot_springs.png);
    }

    .location-isite,
    .location-VisitorCentre {
        background-image: url(../img/icon-isite.png);
    }

    .location-lodging,
    .location-Hut {
        background-image: url(../img/icon-lodging.png);
    }

    .location-plane {
        background-image: url(../img/icon-plane.png);
    }

    .location-plant_species {
        background-image: url(../img/icon-plant_species.png);
    }

    .location-shelter,
    .location-Shelter {
        background-image: url(../img/icon-shelter.png);
    }

    .location-tent,
    .location-Camping,
    .location-Campsite {
        background-image: url(../img/icon-tent.png);
    }

    .location-toilets {
        background-image: url(../img/icon-toilets.png);
    }

    .location-trailhead {
        background-image: url(../img/icon-trailhead.png);
    }

    .location-viewpoints,
    .location-Feature {
        background-image: url(../img/icon-viewpoints.png);
    }

    .location-volcano {
        background-image: url(../img/icon-volcano.png);
    }

    .location-waterfall {
        background-image: url(../img/icon-waterfall.png);
    }
}