@spriteSpacing: -21px; 
@spriteDimension: 20px;

.location-sprite {display: block; float:left; background: transparent url('../img/icons.png') no-repeat; text-indent: -10000px; width:@spriteDimension; height:@spriteDimension; }


.location-adventure-activities { background-position: 0 (@spriteSpacing * 0); }
.location-bird-watching { background-position: 0 (@spriteSpacing * 1); }
.location-motor-boating { background-position: 0 (@spriteSpacing * 2); }
.location-camping, .location-Campsite { background-position: 0 (@spriteSpacing * 3); }
.location-caving { background-position: 0 (@spriteSpacing * 4); }
.location-activities-with-children { background-position: 0 (@spriteSpacing * 5); }
.location-climbing { background-position: 0 (@spriteSpacing * 6); }
.location-diving-snorkeling { background-position: 0 (@spriteSpacing * 7); }
.location-dog-walking { background-position: 0 (@spriteSpacing * 8); }
.location-dolphin-swiming { background-position: 0 (@spriteSpacing * 9); }
.location-fishing { background-position: 0 (@spriteSpacing * 10); }
.location-four-wheel-driving { background-position: 0 (@spriteSpacing * 11); }
.location-guided-walks { background-position: 0 (@spriteSpacing * 12); }
.location-historic-sites { background-position: 0 (@spriteSpacing * 13); }
.location-horse-riding { background-position: 0 (@spriteSpacing * 14); }
.location-hot-pools { background-position: 0 (@spriteSpacing * 15); }
.location-hunting { background-position: 0 (@spriteSpacing * 16); }
.location-kayaking-canoeing { background-position: 0 (@spriteSpacing * 17); }
.location-mountain-biking { background-position: 0 (@spriteSpacing * 18); }
.location-paragliding-hanggliding { background-position: 0 (@spriteSpacing * 19); }
.location-trail-biking { background-position: 0 (@spriteSpacing * 20); }
.location-rafting { background-position: 0 (@spriteSpacing * 21); }
.location-scenic-nature-tours { background-position: 0 (@spriteSpacing * 22); }
.location-aerial-activities { background-position: 0 (@spriteSpacing * 23); }
.location-skiing { background-position: 0 (@spriteSpacing * 24); }
.location-specialist-activities { background-position: 0 (@spriteSpacing * 25); }
.location-surfing { background-position: 0 (@spriteSpacing * 26); }
.location-trail-biking { background-position: 0 (@spriteSpacing * 27); }
.location-walking-tramping { background-position: 0 (@spriteSpacing * 28); }
.location-whale-watching { background-position: 0 (@spriteSpacing * 29); }
.location-hut, .location-Hut { background-position: 0 (@spriteSpacing * 30); }