.horizontal-gradient(@left, @right) {
    background: @left; /* Old browsers */
    background: -moz-linear-gradient(left,  @left 0%, @right 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@left), color-stop(100%,@right)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, @left 0%,@right 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  @left 0%,@right 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  @left 0%,@right 100%); /* IE10+ */
    background: linear-gradient(to right,  @left 0%,@right 100%); /* W3C */
}

.walk {
     .text-column1 {
        h1 {
            background-repeat: no-repeat;
            background-size: 63px 91px;
            padding-left:70px;
            min-height:91px;
            text-transform:uppercase;
        }

        .youtube {
            text-align:center;
        }

        .walk-detail-header {
            color:white;
            background: red;
            padding: 0.4em 0.5em;
            font-size:25px;

            span {
                display:block;
                background-image: url("../img/walk-icons.png");
                background-position: right -90px;
                background-repeat: no-repeat;
                background-size: 35px 118px;
            }

            &.open span {
                display:block;
                background-image: url("../img/walk-icons.png");
                background-repeat: no-repeat;
                background-position: right -41px;
                background-size: 35px 118px;
            }

            &.dont-miss {
                background: #ec9103;
                padding-left:50px;
                .horizontal-gradient(#a96a00, #f0b14a);
            }

            &.dont-miss:before {
                content: "";
                position:absolute;
                width: 0;
                height: 0;
                margin-top: -0.3em;
                margin-left:-50px;
                border-top: 1.1em solid transparent;
                border-left: 1em solid #e5dfbd;
                border-bottom: 1.1em solid transparent;
            }

            &.offers{
                background: #60a443;
                .horizontal-gradient(#44762f, #8abe74);
            }

            &.before-you-go {
                background: #999966;
                .horizontal-gradient(#706d4c, #b4b48e);
            }

            &.getting-there {
                background: #ccb200;
                .horizontal-gradient(#938000, #dac746);
            }

            &.where-to-stay {
                background: #3b93c5;
                .horizontal-gradient(#2a6a8e, #71b1d5);
            }

            &.on-the-track {
                background: #026a5a;
                .horizontal-gradient(#004c3f, #479387);
            }

        } 

        .walk-detail {
            display:none;
            background: white;
            padding: 0.5em 1em;
        }

        &.lake-waikaremoana {
            h1 {
                background-image: url("../img/walks/lake-waikaremoana/national.gif");
            }
        }

        &.wellington {
            h1 {            
                background-image: url("../img/walks/wellington/national.gif");
            }
        }

        &.tongariro-northern-circuit {
            h1 {
                background-image: url("../img/walks/tongariro-northern-circuit/national.gif");
            }
        }

        &.whanganui-journey {
            h1 {
                background-image: url("../img/walks/whanganui-journey/national.gif");
            }
        }

        &.abel-tasman-coast-track {
            h1 {
                background-image: url("../img/walks/abel-tasman-coast-track/national.gif");
            }
        }

        &.heaphy-track {
            h1 {
                background-image: url("../img/walks/heaphy-track/national.gif");
            }
        }

        &.routeburn-track {
            h1 {
                background-image: url("../img/walks/routeburn-track/national.gif");
            }
        }

        &.milford-track {
            h1 {
                background-image: url("../img/walks/milford-track/national.gif");
            }
        }

        &.kepler-track {
            h1 {
                background-image: url("../img/walks/kepler-track/national.gif");
            }
        }

        &.rakiura-track---stewart-island {
            h1 {
                background-image: url("../img/walks/rakiura-track---stewart-island/national.gif");
            }
        }

    }
}






