.walk .text-column1 {
    h1 {
        background-repeat: no-repeat;
        background-size: 63px 91px;
        padding-left:70px;
        min-height:91px;
    }
}

.text-column1.wellington {
    h1 {
        background-image: url("../img/walks/wellington/national.gif");
    }
}

.text-column1.lake-waikaremoana {
    h1 {
        background-image: url("../img/walks/lake-waikaremoana/national.gif");
    }
}

.text-column1.tongariro-northern-circuit {
    h1 {
        background-image: url("../img/walks/tongariro-northern-circuit/national.gif");
    }
}

.text-column1.whanganui-journey {
    h1 {
        background-image: url("../img/walks/whanganui-journey/national.gif");
    }
}

.text-column1.abel-tasman-coast-track {
    h1 {
        background-image: url("../img/walks/abel-tasman-coast-track/national.gif");
    }
}

.text-column1.heaphy-track {
    h1 {
        background-image: url("../img/walks/heaphy-track/national.gif");
    }
}

.text-column1.routeburn-track {
    h1 {
        background-image: url("../img/walks/routeburn-track/national.gif");
    }
}

.text-column1.milford-track {
    h1 {
        background-image: url("../img/walks/milford-track/national.gif");
    }
}

.text-column1.kepler-track {
    h1 {
        background-image: url("../img/walks/kepler-track/national.gif");
    }
}

.text-column1.rakiura-track---stewart-island {
    h1 {
        background-image: url("../img/walks/rakiura-track---stewart-island/national.gif");
    }
}
