    <ol>
      <li>
        Explore a Natural and Cultural World Heritage Area. Established in 1887,
        Tongariro is New Zealand&rsquo;s first national park and the first national park
        in the world to be gifted by a country's indigenous people.
      </li>
      <li>
        Walk across active volcanoes! The three volcanoes at the heart of the park
        are Tongariro, Ngauruhoe and Ruapehu, the highest point in the North
        Island.
      </li>
      <li>
        Tama Lakes, named after the high chief Tamatea, explored the area six
        centuries ago. Take a detour off the main track to see these stunning lakes and
        enjoy the views.
      </li>
      <li>
        Journey to Middle Earth. Tongariro National Park provided the stunning
        backdrop for several filming locations for the Lord of the Rings trilogy
        including Ithilien, Mordor and the Gates of Mordor.
      </li>
      <li>
        Tumbling 20 metres over the edge of a large lava flow, which erupted from
        Ruapehu 15,000 years ago, Taranaki Falls plunge into a boulder-ringed pool. Allow
        2 hours for the return trip on the loop track.
      </li>
    </ol>