<div class="text-column1 {{walk-id}}">
    <h1>
      Tongariro Northern
      Circuit
    </h1>

    <p>
      51.5 km
    </p>
    <p>
      3-4 days
    </p>

    <p>
      Winding its way over Mt Tongariro and around Mt Ngauruhoe, this walk passes
      through unique and stunning landforms including active volcanic craters, brilliant
      blue lakes, steaming geothermal areas, and glacial valleys. From alpine herb fields
      to forests, from tranquil lakes to desert-like plateau, this walk is a place of
      extremes and surprises.
    </p>
    
    <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <!--#include file="don't-miss.mustache" -->     
        <!--#include file="offers.mustache" -->     
        <!--#include file="before-you-go.mustache" -->     
        <!--#include file="getting-there.mustache" -->     
        <!--#include file="where-to-stay.mustache" -->     
        <!--#include file="on-the-track.mustache" -->     
    </div>
</div>