<!--#include virtual="header.htmlf" -->
<script type="text/javascript">
	var map_details = {{{map_details}}};
</script>
<div style="background: url(img/walks/{{map_id}}/map.jpg); width:{{map_pixel_width}}px; height:{{map_pixel_height}}px; position:relative" class="map">
	{{#locations}}
		<div style="position:absolute; top:{{pixel.top}}px; left: {{pixel.left}}px" class="location"><span class="location-sprite location-{{Point}}"></span><h3>{{DESCRIPTIO}}</h3></div>		
	</div>
	{{/locations}}
</div>
