<!--#include virtual="header.htmlf" -->
<div style="background: url(img/walks/{{map_id}}/map.jpg); width:{{map_pixel_width}}px; height:{{map_pixel_height}}px; position:relative">
	{{#locations}}
		<div class="location_{{type}}" style="position:absolute; top:{{pixel_top}}px; left: {{pixel_left}}px"></div>
	{{/locations}}
</div>
