    <p>
      It is important to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    
    <p>
      Before you go, know The Outdoor Safety Code - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    <h4>
      Lake Waikaremoana
      safety
    </h4>
    <ol>
      <li>
        This track is not recommended for children under the age of
        10 due to the exposed mountainous environment and
        possible adverse weather conditions.
      </li>
    </ol>
    <ol>
      <li>
        Lake Waikaremoana lies between altitudes of 600-1200 metres.
        Cold temperatures, snow, strong winds and heavy rain can occur at any time
        of the year. You must be self-sufficient and responsible for ensuring your own
        safety while walking.
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ol>
    <h4>
      Things to know before you
      go
    </h4>
    <ol>
      <li>
        A good level of fitness and the right outdoor clothing and equipment will
        greatly improve the enjoyment of your trip.
      </li>
      <li>
        Safety is your responsibility - leave your trip details with a trusted
        contact. Intention forms are available at <span class="c1"><a class="c2"
        href=
        "http://adventuresmart.org.nz">adventuresmart.org.nz</a>.
      </li>
      <li>
        Book your trip well in advance including your accommodation, transport and
        transfers to the start/end of the Great Walk.
      </li>
      <li>
        Pack all necessary equipment, your own food and drinks and any personal
        items for your trip, including an extra day&rsquo;s supply of food and water.
        Food and drinks are not available for purchase at Great Walks huts and
        campsites.
      </li>
      <li>
        For a full list of equipment and preparation required for this walk, plus
        track updates for Lake Waikaremoana, please visit <a class="c2" href=
        "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/east-coast/te-urewera/lake-waikaremoana-great-walk/plan-and-prepare/safety-information/">
        the DOC website</a>.
      </li>
    </ol>
    <h4>
      When to go
    </h4>
    <p>
      You can do this walk year-round but if you want to take advantage of the
      great swimming opportunities, you should go in summer (remember, that&rsquo;s
      December - February/March).
    </p>
    <h4>
      What to
      bring 
    </h4>
    <p>
      Your basic equipment needs to include
    </p>
    <ol>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ol>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h4>
      <a name="h.89zqpkfym3x4" id="h.89zqpkfym3x4"></a>Travelling with
      children
    </h4>
    <p>
      Lake Waikaremoana is a moderate walk and suitable for families with children.
      You can do part of the track on a water taxi or have part of your luggage
      transported that way.
    </p>
    <h4>
      <a name="h.ku7xe1i8vvfa" id="h.ku7xe1i8vvfa"></a>Nearest DOC visitor
      centre
    </h4>
    <p>
      Aniwaniwa Visitor Centre<sup><a href="#cmnt14" name=
      "cmnt_ref14" id="cmnt_ref14">[n]</a></sup>
    </p>
    <p>
      Te Urewera National Park
    </p>
    <p>
      State Highway 38 RD 5
    </p>
    <p>
      Aniwaniwa
    </p>
    <p>
      +64 6 837 3900 (Great Walks bookings)
    </p>
    <p>
      +64 6 837 3803 (general enquires)
    </p>
    <p>
      <span class="c1"><a class="c2" href=
      "mailto:urewerainfo@doc.govt.nz">urewerainfo@doc.govt.nz</a>
    </p>
    
    <p>
      Hours
    </p>
    <p>
      Open daily 8:00 am - 5:00 pm
    </p>
    <p>
      <br />
      Services
    </p>
    <p>
      Lake Waikaremoana Great Walks bookings, boat hire, hunting permits and
      recreation information for the area.
    </p>
    <h4>
      <a name="h.rfd8uzbnol2k" id="h.rfd8uzbnol2k"></a>Nearest medical
      centre
    </h4>
    <p>
      The closest health services to the track are located in Murupura or
      Wairoa:
    </p>
    <ol>
      <li>
        Murupara Medical Centre, K&#333;whai Ave, Murupara, +64 7 366 5555
      </li>
      <li>
        Wairoa Medical Centre,  Wairoa Hospital, Kitchener Street, Wairoa, +64
        6 838 9728
      </li>
    </ol>
    
    <p>
      You will also find pharmacies in both those locations.
    </p>
