 <div class="text-column1 {{walk-id}}">
    <h1>
      Lake Waikaremoana
    </h1>

    <p>
      46 km
    </p>
    <p>
      3-4 days
    </p>


    <p>
       Trace the shores of the beautiful Lake
      Waikaremoana, the &ldquo;sea of rippling waters&rdquo;. Get a
      glimpse of how New Zealand used to be: explore the prehistoric rainforests, marvel
      at the giant podocarps, visit remote beaches and deepen your imagination with this
      Great Walk&rsquo;s rich spiritual and cultural history. Te Urewera
      National Park is the home of Ng&#257;i
      T&uuml;hoe. It also offers access to some of New Zealand&rsquo;s most
      iconic birds, including Kiwi, Kerer&uuml;
    </p>
    
  <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
    
  <!--#include file="don't-miss.mustache" -->
  <!--#include file="offers.mustache" -->   
  <!--#include file="before-you-go.mustache" -->   
  <!--#include file="getting-there.mustache" -->   
  <!--#include file="where-to-stay.mustache" -->   
  <!--#include file="on-the-track.mustache" -->   
  
    
</div>