<h3>
      Offers
    </h3>
    <ol>
      <li>
        <span class="c1"><a class="c2" href=
        "http://bookings.bookitsecure.com/pub/supplier.aspx?b=DEPART">Offers from
        DOC</a> (takes you to bookit)
      </li>
      <li>
        <span class="c1"><a class="c2" href=
        "http://www.airnewzealand.co.nz/special-deals-new-zealand#special-deals-great-walks">
        Air New Zealand Great Walks Special</a> <span class="c1"><a class="c2"
        href=
        "http://www.airnewzealand.co.nz/special-deals-new-zealand#special-deals-great-walks">
        Deals</a> (takes you to the Air NZ
        website)
      </li>
    </ol>