<ol>
    <li>Explore an amazing limestone cave! Grab a couple of torches
    and take a 10 min stroll from Luxmore Hut to Luxmore Caves. Just 30 metres into the
    cave you&rsquo;ll find stalactites and stalagmites.</li>

    <li>Swing bridges make for an entertaining journey over rivers
    and creeks. The Rainbow Reach swing bridge crosses the Waiau River and is an
    impressive entry/exit point for the track.</li>

    <li>Take a 15 min stroll from Iris Burn Hut to Iris Burn Falls.
    The falls are a great place for an icy cold swim to refresh you after a day&rsquo;s
    walking!</li>

    <li>Watching the sunrise from Luxmore Hut allows you to take in
    splendid views of Lake Te Anau right across to the Murchison Mountains.</li>

    <li>Listen out for the call of NZ&rsquo;s iconic kiwi from Iris
    Burn Hut. Fiordland tokoeka (kiwi) can be heard on the Kepler Track. Largely nocturnal,
    it cannot fly, has loose, hair-like feathers and long whiskers.</li>
  </ol>

  