<div class="text-column1 {{walk-id}}">
  <h1>Kepler Track</h1>
  <p class="info">
    <span class="days">3-4 days</span>
    <span class="duration">60 km</span>
    <a href="{{map_filename}}" class="icon-map">Map</a>
  </p>
  <p class="intro">A real adventure above the clouds, from the gentle, beech-forested
    shores of lakes Te Anau and Manapouri to the tussocky alpine tops and grand Mt Luxmore.
    On top of the world, you&rsquo;ll be rewarded with marvellous panoramic views of the
    Kepler Mountains on one side, and lakes, rivers and valleys on the other.</p>
  <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <!--#include file="don't-miss.mustache" -->
        <!--#include file="offers.mustache" -->   
        <!--#include file="before-you-go.mustache" -->   
        <!--#include file="getting-there.mustache" -->   
        <!--#include file="where-to-stay.mustache" -->   
        <!--#include file="on-the-track.mustache" -->   
    </div>
</div>