  <h2>Offers</h2>

  <ol>
    <li><a href=
    "http://bookings.bookitsecure.com/pub/supplier.aspx?b=DEPART">Offers from
    DOC</a> (takes you to bookit)</li>

    <li><a href=
    "http://www.airnewzealand.co.nz/special-deals-new-zealand#special-deals-great-walks">Air
    New Zealand Great Walks Special Deals</a> (takes
    you to the Air NZ website)</li>
  </ol>