
    <h2>
      Before you go
    </h2>
    <p>
      It is important to plan and prepare
      to be well equipped to enjoy your Great Walk.
    </p>
    
    <p>
      Before you go, know The Outdoor Safety Code - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol class="c22" start="1">
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    
    <h3>
     Abel Tasman
      Track safety
    </h3>
    <ol>
      <li>
        
          Be sure
          to<a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/abel-tasman-coast-track/plan-and-prepare/tide-timetables/">consult a tide timetable</a> when planning your trip as Onetahuti and
          Awaroa estuaries on the track are only passable at low tide.
        
      </li>
      <li>
        
          While the Abel Tasman
          Coast is generally warm and dry in summer, remember it is a coastal environment
          which can change quickly so be prepared for rain, cold and windy
          conditions.
        
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ol>
    
    <h3>
      Things to know before you
      go
    </h3>
    <ol>
      <li>
        
          A good level of fitness
          and the right outdoor clothing and equipment will greatly improve the enjoyment
          of your trip.
        
      </li>
      <li>
        
          Safety is your
          responsibility - leave your trip details with a trusted contact. Intention
          forms are available at<a href="http://adventuresmart.org.nz/Outdoors-Intentions/Default.asp">adventuresmart.org.nz</a>.
        
      </li>
    </ol>
    <ol>
      <li>
        
          Book your trip well in
          advance including your accommodation, transport and transfers to the start/end
          of the Great Walk.
        
      </li>
      <li>
        
       Pack all necessary
          equipment, your own food and drinks and any personal items for your trip
          including an extra day's supply of food and water.
        
      </li>
      <li>
        
       For a comprehensive
          equipment list and preparation required for this walk please
          visit <a
          href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/abel-tasman-coast-track/plan-and-prepare/what-to-take/">doc.govt.nz/abeltasmantrack</a>.
        
      </li>
    </ol>

    <h3>
      When to go
    </h3>
    <p>
      The track is open all year and is most popular during the peak season
      (October to April) when the weather is warmer and daylight hours are longer.
      Transport, activity, equipment and accommodation operators are available year
      round. Walking the track during the winter months (June - August) also has its
      advantages with fewer visitors, calmer water, hardly any insects and less water
      traffic.
    </p>
    <h3>
      Nearest
      airports
    </h3>
    <p>
      Nelson - 65 km, 1 hour
    </p>
    
    <p>
      Flights to this airport typically connect from Auckland, Wellington and
      Christchurch. The above driving times are indicative only - always allow for extra
      time to get to your destination.
    </p>
    <h3>
      How to get to the
      trailhead
    </h3>
    <p>
      The Abel Tasman Coast Track is accessible by road at four points, each with a
      carpark:
    </p>
    <ol>
      <li>
        Marahau, the southern gateway, is 67 km from Nelson on sealed
        road.
      </li>
      <li>
        Wainui is 21 km from Takaka. For the last 2 km, the road is
        unsealed.
      </li>
      <li>
        Totaranui is 32 km from Takaka. For the last 12 km, the road
        is unsealed.
      </li>
      <li>
        Awaroa estuary is 31 km from Takaka. The last 12 km of road
        is rough and unsealed. There are two fords, which flood after heavy rain. From
        the Awaroa carpark on the northern side of the estuary, it&rsquo;s 25 minutes of
        tidal walk to Awaroa hut and campsite, which are on the southern side of the
        estuary.
      </li>
    </ol>
    
    <p>
      The track is well serviced by public transport including buses/coaches and
      boat transport.
    </p>
    
    <p>
      Bus services operate in summer from Nelson and Motueka to the major road ends
      at Marahau and Kaiteriteri, and connect with Takaka transport to Totaranui and
      Wainui. Bookings are recommended. In winter, bus services operate daily to Marahau
      and Kaiteriteri but not so regularly to Wainui and Totaranui.
    </p>
    
    <p>
      Water taxis operate year round from Marahau and Kaiteriteri. The scheduled
      water taxi pick up locations are: Anchorage, Torrent Bay, Bark Bay, Onetahuti,
      Awaroa and Totaranui.
    </p>
    <h3>
      <a name="h.fqz29r1jn0mv" id="h.fqz29r1jn0mv"></a>What to
      bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ol>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ol>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h3>
      <a name="h.myerdhyvdqp6" id="h.myerdhyvdqp6"></a>Travelling with
      children
    </h3>
    <p>
      The Abel Tasman Coast Track is an easy coastal walk for families with half or
      multi day options available. Visitors can walk into the park from the road end car
      parks, catch water taxis to beaches along the track or kayak along the
      coast.
    </p>
    
    <h3>
      <a name="h.kx0g0sibkmqu" id="h.kx0g0sibkmqu"></a>Nearest DOC visitor
      centre
    </h3>
    <p>
      DOC Nelson Regional Visitor Centre
    </p>
    <p>
      79 Trafalgar Street
    </p>
    <p>
      Nelson 7010
    </p>
    <p>
      +64 3 546 9339
    </p>
    <p>
      <span class="c1"><a href=
      "mailto:nelsonvc@doc.govt.nz">nelsonvc@doc.govt.nz</a>
    </p>
    <p>
      Hours
    </p>
    <p>
      Open daily 8:30 am &ndash; 4:30 pm
    </p>
    <p>
      Closed daily 12:00 pm &ndash; 1:00 pm
    </p>
    <p>
      Services
    </p>
    <p>
      Great Walks bookings and recreation information for the area.
    </p>
    
    <h3>
      <a name="h.j7wyho1n4qeu" id="h.j7wyho1n4qeu"></a><span class="c9">Nearest medical
      centre
    </h3>
    <p>
      xxxx
    </p>
