    <ol>
      <li>
        Spot the endangered mohua (yellowhead.) This cute little songster is often
        perched high in the treetops. Listen out for its distinctive chirpy song!
      </li>
      <li>
        Take a short, steep climb from Harris Saddle up Conical Hill for
        spectacular views of the Hollyford Valley through to Lake McKerrow and beyond.
        Allow 1-2 hours for the return trip.
      </li>
      <li>
      Gorge-ous! History buffs will love the old forge and blacksmiths camp. From
        here, a short track leads to the site which supported construction of the early
        bridle track.
      </li>
      <li>
        A popular half-day walk, the Key Summit track climbs above the bush line to
        an alpine wetland and offers panoramic views over the Humboldt and Darran
        Mountains.
      </li>
      <li>
        Follow in the footsteps of the ancient Tai Poutini iwi (tribe) who
        regularly walked the Routeburn Valley to the head of Lake Wakatipu in search of
        Pounamu (jade/greenstone), a prized stone used for tools, weapons and
        ornaments.
      </li>
    </ol>
    