
    <h2>
      Getting there
    </h2>
    
    <p>
      airports
    </p>
    <ol start="11">
      <li>
        Queenstown - 174 km / 108 mi, 2 hours 30 min
      </li>
      <li>
        Invercargill - 159 km / 99 mi, 2 hours 20 min
      </li>
    </ol>
    
    <p>
      Flights to these airports typically connect from Auckland, Wellington and
      Christchurch. The above driving times are indicative only - always allow for extra
      time to get to your destination.
    </p>
    <h4>
      How to get to the
      trailhead
    </h4>
    <p>
      Access to the Routeburn Track is by road, with the track starting at either
      the Routeburn Shelter or The Divide. The road distance between each end of the
      track is 350 km. Return transport can be pre-arranged to reach either end of the
      track from nearby towns, Queenstown, Te Anau, Glenorchy and Milford
      Sound/Piopiotahi.
    </p>
    
    <h4>
      Transport and
      accommodation
    </h4>
    <p>
      <a class="c2" href=
      "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/northern-fiordland/routeburn-track/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area.
    </p>
