    <p>
      DOC provides four huts and two campsites along the Routeburn Track.
    </p>
    <h4>
      Huts
    </h4>
    <p>
      Routeburn Track huts&nbsp;have heating, toilets, bunks,
      mattresses, cold running water, cooking facilities and solar powered lighting. A
      DOC ranger is in residence during the Great Walks season (late October to late
      April). Note: Huts do not provide pots and pans, cooking utensils, hot showers,
      linen, toilet paper or food and drinks for purchase. Make sure you put these things
      on your checklist before you go.
    </p>
    
    <ul>
      <li>
        Routeburn Flats Hut: 20 bunks
      </li>
      <li>
        Routeburn Falls Hut: 48 bunks
      </li>
      <li>
        Lake Mackenzie Hut: 50 bunks
      </li>
      <li>
        Lake Howden Hut: 28 bunks
      </li>
    </ul>
    
    <h4>
      Campsites
    </h4>
    <p>
      The Routeburn Flats and Lake Mackenzie campsites offer basic facilities
      including a water supply, cooking shelter and toilets. Campers are not permitted to
      use the hut facilities.
    </p>
    <p>
      <br />Cost and booking
    </p>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the DOC online booking system prior to travel or
      call 0800 NZ GREATWALKS.
    </p>