    <h3>
      Don&rsquo;t miss
    </h3>
    <ol >
      <li>
        Get on your bike! Until September 2013 you can mountain bike the Heaphy
        Track, it takes 2 - 3 days to ride. Riding from Aorere
        to Karamea is the most popular route.
      </li>
      <li>
        Kahurangi National Park harbours half of New Zealand&rsquo;s 40
        species of carnivorous land snail (Powelliphanta). Look out for one on the track,
        particularly near limestone outcrops where there is enough calcium to nourish
        their sizeable shells!
      </li>
      <li>
        
          <a name="h.msoyxbup2oi1" id="h.msoyxbup2oi1"></a>Fantastic flora! See
          huge podocarps and giant northern R&#257;t&#257; in the lowland forest, a huge
          variety of alpine and subalpine species on the Gouland Downs and Karaka, Ngaio
          and N&#299;kau palms in the coastal forest.
        
      </li>
      <li>
        The Heaphy Hut is located right next to one of New
        Zealand&rsquo;s oldest and most interesting archaeological sites &ndash; an
        ancient village situated on a nearby river bank, believed to have been settled by
        Polynesians in the 13th - 14th century.
      </li>
      <li>
        Kahurangi National Park is home to an abundance of native
        birds. Weka, T&#363;&#299;, Kerer&#363;; Kea and K&#257;k&#257; can be found
        along the way. With a bit of luck you might see, or at least hear, the great
        spotted kiwi and morepork.
      </li>
    </ol>
    
