<div class="text-column1 {{walk-id}}">
    <h1>
      Heaphy Track
    </h1>
    <p>
      78.4 km
    </p>
    <p>
      4-6 days
    </p>
    <p>
      From forest to coast, the Heaphy Track combines all of New Zealand&rsquo;s
      magical natural beauty into one walk. Pass through diverse landscapes from
      beautiful beech forest to expansive tussock grasslands, to lush forests, nikau
      palms and the roaring seas of the wild West Coast.
    </p>
    <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <!--#include file="don't-miss.mustache" -->
        <!--#include file="offers.mustache" -->
        <!--#include file="before-you-go.mustache" -->
        <!--#include file="getting-there.mustache" -->
        <!--#include file="where-to-stay.mustache" -->
        <!--#include file="on-the-track.mustache" -->
    </div>
</div>
