  <h3>
      Before you go
    </h3>
    <p>
      It is important to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
     
    <p>
      Before you go, know The<span class=
      "c7"> Outdoor Safety Code - 5 simple rules to help you stay
      safe:
    </p>
     
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
     
     
    <h4>
      Rakiura
      Track safety
    </h4>
    <ol>
      <li>
       
          The weather is very
          changeable and difficult to predict. Walkers should come well-equipped and be
          prepared for all weather conditions, extreme weather can occur at any time of
          the year.
       
      </li>
      <li>
       
          Cell phone coverage is
          limited on the track. Telecom provides the only cell phone coverage on Stewart
          Island/Rakiura.
       
      </li>
    </ol>
     
    <h4>
      Things to know before you
      go
    </h4>
    <ol>
      <li>
       
          A good level of fitness
          and the right outdoor clothing and equipment will greatly improve the enjoyment
          of your trip.
       
      </li>
      <li>
       
          Safety is your
          responsibility - leave your trip details with a trusted contact. Intention
          forms are available at <a 
          href=
          "http://adventuresmart.org.nz/Outdoors-Intentions/Default.asp">adventuresmart.org.nz</a>.
       
      </li>
      <li>
       
          Book your trip well in
          advance including your accommodation, transport and transfers to the start/end
          of the Great Walk.
       
      </li>
      <li>
       
          <a name="h.a1ktfusrta3z" id="h.a1ktfusrta3z"></a>Pack all necessary
          equipment, your own food and drinks and any personal items for your trip
          including an extra day's supply of food and water.
       
      </li>
      <li>
       
          <a name="h.a81i1jgxl4i2" id="h.a81i1jgxl4i2"></a>For a full list of
          equipment and preparation required for this walk, plus track updates for the
          Rakiura Track, please visit<span class="c1"><a class="c2" href=
          "http://www.doc.govt.nz/parks-and-recreation/places-to-visit/southland/stewart-island-rakiura/stewart-island-rakiura/plan-and-prepare/"> the
          DOC website</a>
       
      </li>
    </ol>
    <h4>
      When to go
    </h4>
    <p>
      The Rakiura Track is suitable for walking all year round. During the winter
      months the weather on Stewart Island/Rakiura is generally cool, yet settled, making
      this track a great opportunity to relax, unwind and immerse yourself in idyllic
      surroundings any time of the year.
    </p>
     
    <h4>
      What to
      bring 
    </h4>
    <p>
      Your basic equipment needs to include
    </p>
    <ol>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ol>
     
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h4 class="c0">
      <a name="h.t70wsjf2n995" id="h.t70wsjf2n995"></a>
    </h4>
    <h4 class="c0">
      <a name="h.y4814jqaw685" id="h.y4814jqaw685"></a>
    </h4>
    <h4>
      <a name="h.zf7ym4nvr7og" id="h.zf7ym4nvr7og"></a>Travelling with
      children
    </h4>
    <p>
      The Rakiura Track is an ideal walk for families and suitable for anyone with
      moderate fitness. It takes 3 days to walk the 32 km circuit.
    </p>
    <h4>
      Nearest DOC visitor
      centre
    </h4>
    <p>
      Rakiura National Park Visitor Centre
    </p>
    <p>
      15 Main Road
    </p>
    <p>
      Stewart Island
    </p>
    <p>
      +64 3 219 0009
    </p>
    <p>
      <a href="mailto:rakiuravc@doc.govt.nz">rakiuravc@doc.govt.nz</a>
    </p>
    <p>
      Hours
    </p>
    <p>
      Mon - Fri: 8:00 am &ndash; 5:00 pm
    </p>
    <p>
      Weekends: 9:00 am &ndash; 4:00 pm
    </p>
    <p>
      Off-peak and public holidays: restricted hours
    </p>
    <p>
      Services
    </p>
    <p>
      Great Walks bookings and recreation information for the area.
    </p>
     
    <p>
     Nearest medical centre<br />xxx
    </p>
     