<div class="text-column1 {{walk-id}}">
    <h1>Rakiura Track - Stewart Island</h1>
    <p class="info">
      <span class="days">3 days</span>
      <span class="duration">32 km</span>
      <a href="{{map_filename}}" class="icon-map">Map</a>
    </p>
    <p class="intro">
      Exchange the hustle and bustle of mainland life for the tranquillity of the
      Rakiura Track on Stewart Island/Rakiura. Revel in the peacefulness with the bush,
      birds and beach at your side.
    </p>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <!--#include file="don't-miss.mustache" -->     
        <!--#include file="offers.mustache" -->     
        <!--#include file="before-you-go.mustache" -->     
        <!--#include file="getting-there.mustache" -->     
        <!--#include file="where-to-stay.mustache" -->     
        <!--#include file="on-the-track.mustache" -->     
    </div>
</div>
<div id="elevation-profile" style="width:{{elevation-profile-image-width}}px; height:{{elevation-profile-image-height}}px; " class="modal hide fade" tabindex="-1" role="dialog">
  <img src="{{elevation-profile-image}}" style="width:{{elevation-profile-image-width}}px; height:{{elevation-profile-image-height}}px">
</div>