
    <h2>
      Getting there
    </h2>
    <h3>
      Nearest
      airports
    </h3>
    <ol class="c12" start="3">
      <li>
        Wanganui - 164 km, 2 hours (to Taumarunui)
      </li>
      <li>
        Taupo - 116 km, 1 hour 30 min (to Taumarunui)
      </li>
    </ol>
    
    <p>
      Wanganui and Taupo Airports are about the same driving distance from the
      start of the shorter 3 day river journey in Whakahoro, approximately 2.5 hours.
      Canoe hire, drop off and secure parking are packaged together by tour operators.
      Some tour operators are based in Raetihi and Ohakune and in this instance driving
      from Wanganui would be the best option. For those keen to complete the longer 5 day
      river journey driving from Taupo to Taumarunui is quicker, however this depends on
      where you hire your canoes.
    </p>
    
    <p>
      Flights to these airports typically connect from Auckland and Wellington. The
      above driving times are indicative only - always allow for extra time to get to
      your destination.
    </p>
    <h3>
      How to get to the
      trailhead
    </h3>
    <p>
      Traditional entry or exit points for journeys on the river are Taumaruni,
      Ohinepane, Whakahoro and Pipiriki. Most facilities and services that cater for
      river travellers are found in Taumarunui and Whanganui, although some facilities
      are found at Raetihi and Ohakune. Accommodation is available in the local
      towns.
    </p>
    
    <h3>
      Transport and
      accommodation 
    </h3>
    <p>
      <span class="c1"><a class="c2" href=
      "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/manawatu-whanganui/whanganui/whanganui-journey/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area.
    </p>
    