<div class="text-column1 {{walk-id}}">
    <h1>
      Whanganui Journey
    </h1>

    <p>
      145 km
    </p>
    <p>
      3-5 days
    </p>

    <p>
      The Whanganui River winds its way from the mountains to the Tasman Sea
      through countless hills and valleys. This journey takes you on a multi-day canoe or
      kayak trip to experience its most remote scenic beauty, history and cultural
      significance.
    </p>
    
    <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <!--#include file="don't-miss.mustache" -->
        <!--#include file="offers.mustache" -->
        <!--#include file="before-you-go.mustache" -->
        <!--#include file="getting-there.mustache" -->
        <!--#include file="where-to-stay.mustache" -->
        <!--#include file="on-the-track.mustache" -->
    </div>
</div>